# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
tf-a-stm32mp-2.2.r1-gaa9f87c-v1.5.tar.bz2git 
/stm32mp1-openstlinux-5.4-dunfell-mp1-20-06-24
/linux_tar/tar/en.SOURCES-stm32mp1-openstlinux-5-4-dunfell-mp1-20-06-24.tar.xz
/linux_tar/tar/tf-a-stm32mp-2.2.r1-gaa9f87c-v1.5.tar.bz2
/linux_tar/tar/u-boot-stm32mp-2020.01-g9c0df34f-v1.5.tar.bz2
/linux_tar/tar/linux-5.4.31-g8c3068500-v1.8.tar.bz2
/tools

